html,
body,
.body{
  background: #e4e5ea;
  background-color: #e4e5ea;
}

.header{
  background: $primary-color;
  background-color: $primary-color;
  .columns{
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 20px !important;
  tbody > tr > th{
    color: #fbfbfb;
    }
  }
}